.row
  =link_to 'Add a new event', new_admin_event_path, class: 'button radius'
  - @events.each do |event|
    %h3
      = event.date_time.stamp('Jan 1, 2014')
      = render 'shared/index_of_objects', object: event
    = event.venue
    = "w/ #{event.other_artists}"
    = link_to 'Website', "#{event.link}"


