/ password editing handled by devise

%h1.row Update your info
.row
  = form_for(@user,:html => { :method => :patch }) do |f|
    = f.label       :email
    = f.email_field :email
    = f.label       :biography
    = f.text_field  :biography
    = f.submit "Save Update", class: 'button radius'