%ul.icon-list
  %li
    = mail_to primary_user_email do
      = content_tag(:i, "", class: "fi-mail")
  - SocialMediaSite.find_each do |sms|
    %li
      = link_to "#{sms.link}" do
        = content_tag(:i, "", class: "fi-social-#{sms.site_name}")

