%ul.no-bullets
  - @events.each do |event|
    %li#indiv-event
      = "#{event.date_time.stamp("January 1").upcase}:"
      = "#{event.venue}"
      - if event.other_artists.present?
        = "w/ #{event.other_artists}."
      - if event.link.present?
        = link_to "Get more info here", "http://#{event.link}" 