%h1.row Add a new event to your calendar
%row
  = form_for @event do |f|
    = f.label :date
    = f.datetime_field :date_time
    = f.label :venue
    = f.text_field :venue
    = f.label :other_artists
    = f.text_field :other_artists
    = f.label :link
    = f.text_field :link
    = f.submit 'Save', class: 'button radius'