%h1.row Add a new song track
.row
  = form_for [:admin, @track] do |f|
    = f.label      :name
    = f.text_field :name
    = f.label      :link
    = f.text_field :link
    = f.submit 'Save', class: 'button radius'