%h3.row
  ="#{@user.first_name} #{@user.last_name}"
  %span.has-tip{"data-tooltip" => "", title: "edit"}
    = link_to edit_admin_user_path(@user) do
      = edit_icon
.row
  =@user.email
  %br
  %br
  %em
    = simple_format @user.biography
