.row
  =link_to 'Add a new blog entry', new_admin_blog_path, class: 'button radius'
  - @blogs.each do |blog|
    %h3
      = blog.title
      %span.has-tip{"data-tooltip" => "", title: "edit"}
        = link_to edit_admin_blog_path(blog) do
          = edit_icon
      %span.has-tip{"data-tooltip" => "", title: "delete"}
        = link_to admin_blog_path(blog), method: :delete do
          = trash_icon
    = "#{blog.created_at.stamp("1 Jan 1200AM")}:"
    = blog.entry