.row
  =link_to 'Add a new blog entry', new_admin_blog_path, class: 'button radius'
  - @blogs.each do |blog|
    %h3
      = blog.title
      = render 'shared/index_of_objects', object: blog
    = "#{blog.created_at.stamp("01 Jan 2014")}:"
    = blog.entry