%header
  .nav-bar.vertical
  %ul.main-menu-list
    %li= link_to image_tag('samora.png'), root_path
    %li= link_to "About",    about_path
    %li= link_to "Calendar", calendar_path
    %li= link_to "Listen",   listen_path
    %li= link_to "Watch",    watch_path
    %li= link_to "Contact",  contact_path    
    %li
      %a{href: "mailto: samoraabayomi@gmail.com"}
        %i.fi-mail
      %a{href: "https://twitter.com/samoraabayomi"}
        %i.fi-social-twitter
      %a{href: "http://instagram.com/samoraabayomi"}
        %i.fi-social-instagram
      %a{href: "http://samoraabayomi.tumblr.com/"}
        %i.fi-social-tumblr