%header
  .nav-bar.vertical
  %ul.main-menu
    %li= link_to image_tag('samora.png'), root_path
    %li= link_to "About",    about_path
    %li= link_to "Calendar", calendar_path
    %li= link_to "Listen",   listen_path
    %li= link_to "Watch",    watch_path
    %li= link_to "News",     blogs_path
    %li= #link_to "Contact",  contact_path  
  %ul.icon-list
    - sms_helper.each do |sms|
      %li
        = link_to "http://#{sms.link}" do
          = content_tag(:span, "", class: "fi-social-#{sms.site_name}")
